// VARIABLES (Colores y Fuentes)
$color-principal: #79c3ee;
$color-hover: aliceblue;
$bg-oscuro: #0f0f0f;
$bg-transparente: rgba(0, 0, 0, 0.5);
$bg-accordion-btn: rgba(0, 0, 0, 0.1);
$border-negro: 2px solid #000000;

$font-titulo: "Cinzel", serif;
$font-cuerpo: "EB Garamond", serif;

